body{
    margin: 0;
    padding: 0;
}

header{
    background-color: #BBBBBB;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 1.2rem;
}