body{
    padding: 0;
    margin: 0;
}


#banner{
    width: 100%;
    padding: 0;
    margin: 0;
}


.titulo-principal{
    padding-left: 20px;
}

.Principal{
    background-color: #CCCCCC;
    padding: 30px;
}

.titulo-centralizado{
    text-align: center;
}

p{
    text-align: center;
}

#missao{
    font-size: 1.2rem;
}

em strong{
    color: tomato;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens{
    text-decoration: none;
    font-style: italic;
}


.Beneficios{
    background-color: #FFFFFF;
    padding: 20px;
}

.imagemBeneficios{
    width: 50%;
}